<%- include("include/_header") %>

<main class="countrypage-container">
    <h1 class="countrypage-title"><%= countryName %></h1>

    <div class="countrypage-options">
        <a href="/countrypage/<%= encodeURIComponent(countryName) %>/가볼 만한 곳" class="countrypage-card">
            <span class="material-symbols-outlined">location_on</span>
            <p>가볼 만한 곳</p>
        </a>
        <a href="/countrypage/<%= encodeURIComponent(countryName) %>/식당 & 카페" class="countrypage-card">
            <span class="material-symbols-outlined">restaurant</span>
            <p>식당 & 카페</p>
        </a>
        <a href="/countrypage/<%= encodeURIComponent(countryName) %>/교통" class="countrypage-card">
            <span class="material-symbols-outlined">train</span>
            <p>교통</p>
        </a>
    </div>
</main>

<%- include("include/_footer") %>
